.nb{
    background-color: white;
    padding: 20px;
   justify-content: right;
   margin-left: 650px;
   
}
.fix{
    display: flex;
    background-color: aliceblue;
    
}
main{
    scroll-behavior: smooth;
}

nav a{
    text-decoration: none;
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(85, 81, 81);
    padding: 10px;
}
.hm{
    color: aqua;
}
nav a:hover{
    color: aqua;
}
.btn1{
    padding: 10px;
    border: none;
    border-radius: 30px;
    background-color: rgb(25, 138, 243);
    font-size: large;
    width: 150px;
    color: white;
    height: 50px;

}
.con{
    display: flex;
    padding: 30px;
    margin: 30px 50px; 
}
.btn2{
    padding: 10px;
    border: 3px solid  rgb(25, 138, 243);
    border-radius: 30px;
    background-color:white;
    font-size: large;
    width: 150px;
    color: rgb(40, 145, 243);
    height: 50px;
    margin-top: 20px;
}
.btn2:hover{
    background-color:  rgb(25, 138, 243);
    color: aliceblue;
}
.tb{
 width: 40%;   
}
.tx1{
    font-size: 40px;
    font-family: sans-serif;
}
.tx2{
    font-size: 20px;
    font-family: sans-serif;
}
.ib{
    padding: 20px;
    margin-left: 130px;
}
.ser{
    display:flex;
    font-size: 40px;
    font-family:sans-serif;
}
hr{
    color: aqua;
    height: 2px;
}
.sp{color: rgb(94, 91, 91);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
}
.s1{
    display: flex;
    margin: 0px 80px;
    width: 90%;
}
.sb{
    
    width: 200px;
    padding: 20px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    box-shadow:  rgb(143, 139, 139) 10px 10px 30px;

}
.sb:hover{
    background-color: rgb(14, 146, 235);
    color: azure;
    cursor: grab;
    
}
.abt{
    display: flex;
    padding: 20px;
    margin: 20px;
}
.abc{
    width: 600px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}
